body {
  background-color: blueviolet;
  font-family: 'Raleway', sans-serif;
  background: -moz-linear-gradient(-45deg, blue 0%, blueviolet 35%, violet 100%);
  background: -webkit-linear-gradient(-45deg, blue 0%, blueviolet 35%, violet 100%);
  background: linear-gradient(135deg, blue 0%, blueviolet 35%, violet 100%);
}

.card {
  background-color: ghostwhite;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
  padding: 15px;
  margin: 10px 0;
}

.horiz-items span {
  padding-right: 10px;
}

.horiz-items span:after {
  content: "•";
  color: gray;
  padding-left: 10px;
}

.horiz-items span:last-child:after {
  content: none;
}

.right {
  text-align: right;
}

.text-bottom {
  vertical-align: text-bottom;
}
