body {
  background-color: #DCB9E4;
  font-family: 'Raleway', sans-serif;
  background: -moz-linear-gradient(75deg, #DCB9E4 50%, #8FDCD7 51%);
  background: -webkit-linear-gradient(75deg, #DCB9E4 50%, #8FDCD7 51%);
  background: linear-gradient(75deg, #DCB9E4 50%, #8FDCD7 51%);
}

.card {
  color: #403E3F;
  background-color: #F9F1E8;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
  padding: 15px;
  margin: 10px 0;
}

.tile {
  min-height: 30em;
}

.horiz-items span {
  padding-right: 10px;
}

.horiz-items span:after {
  content: "•";
  color: gray;
  padding-left: 10px;
}

.horiz-items span:last-child:after {
  content: none;
}

.right {
  text-align: right;
}

.text-bottom {
  vertical-align: text-bottom;
}
