.resume {
  padding: 10px;
}

.basic-info, .education {
  padding: 0 10px;
}

.job-title {
  font-size: larger;
}

.dates {
  font-weight: 300;
}

.education hr {
  padding: 10px 0;
}

/* medium screen up */
@media only screen and (min-width: 40.063em) {
  .dates {
    text-align: right;
  }
}

/* large screen up */
@media only screen and (min-width: 64.063em) {

}
