.resume {
  padding: 10px;
}

.basic-info, .education {
  padding: 0 10px;
}

.job-title {
  font-size: larger;
}

.resume h3 {
  margin-bottom: .5em;
}

.dates {
  font-weight: 300;
  float: right;
}

@media (max-width: 600px) {
  .dates {
    float: none;
  }
}
